<html>
    <div>   
        <h1>User Registration:</h1>
        <form method="POST" action="/register">
            <label for="Username">Username: </label> <br>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="Password">Password: </label> <br>
            <input type="password" id="password" name="password" required>
            <br>
            <label for="Email">Email: </label> <br>
            <input type="email" id="email" name="email" required>
            <button type="submit">Register</button>
        </form>
    </div>
</html>